.bg-image {
    background-image: url(https://media.discordapp.net/attachments/997260939135025223/1103157918855073882/dripthro_warehouse_in_dystopian_future_with_robots_and_cowboys__32861320-924a-4d97-ac0b-c74ba8e423fc.png?width=1068&height=1068);
    background-repeat: no-repeat;
    background-size: cover;

}